* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App{
  font-family: sans-serif;
  overflow-x: hidden;
}

@media screen and (max-width:1050px){
  html{
   font-size: 14px;
  }
  
}


@media screen and (max-width:864px){

  html{
   font-size:12px;
  }
  
}

@media screen and (max-width:464px){
  html{
    font-size: 10px;
  }
}